/* *{
    box-sizing:border-box;
} */
.flex  {
   background-color: rgb(218, 22, 22);
   width: 600px;
   color: blue;
   height: 100px;
   padding: 20px;
   margin: 20px auto;
   display: flex;
direction: ltr;
      flex-direction: row;
      /* flex-wrap: wrap; */
         justify-content: space-evenly;


}

.flex div {
   background-color: aqua;
   width:calc(83%/3) ;
   overflow: hidden;
   text-align: center;
   margin-left: 5px;
   margin-top: 5px;
}

.float  {
   background-color: rgb(218, 22, 22);
   width: 600px;
   padding: 20px;
   margin: 20px auto;
   display: flex;
   direction: ltr;
   float: left;
   flex-direction: row;
   flex-wrap: wrap;
            justify-content: space-between;

}


.float div {
   background-color: aqua;
   width:calc(94%/3);
   float: left;
   overflow: hidden;
      margin-top: 5px;

   text-align: center;
   margin-left: 5px;
}