div{
    width: 100px;
    text-align: center;
    height: 100px;
    background-color: rgb(185, 183, 183);
    margin: 20px;
    box-shadow: 0 0 10px 0 red , 0 0 10px 0 rgb(7, 233, 146);
    /*border-radius: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    -o-border-radius: 4px;
    border-top-left-radius: 20px;
    *//*border-bottom-right-radius: 15px;
    /* */border-radius: 4px; */
}

* {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;

}